*
	box-sizing: border-box

	&:before, &:after
		box-sizing: border-box

body
    margin: 0
    background-color: #6c3636

a
    text-decoration: none
    cursor: pointer
    font-family: 'OpenSans-Bold'
    line-height: 18px
    font-style: normal
    color: #000000

.background
    background-color: #ffffff
    max-width: 1536px
    margin: 0 auto
    padding-top: 12px

.button
    background: #D2001C
    border-radius: 4px


@import "fonts", "header", "content", "video"